# Python
/**/venv
/**/__pycache__
cache
/storage/**
/**/.ipynb_checkpoints/**

# IDEs
.idea

# Mac
/**/.DS_Store

# Transformers
src/tes/output/runs/**
/**/output.json
/**/output

# Deployment
/deployment/**

# Secrets
application-credentials.json
*.pem
.env