# Python
/**/venv
/**/__pycache__
cache
storage

# IDEs
.idea

# Mac
/**/.DS_Store

# Transformers
src/test/output/runs/**
/**/output.json
/**/output

# Deployment
/deployment/**

# Secrets
application-credentials.json
*.pem
.env