# Include the specific .txt file
include tgen/common/util/common-words.csv
include tgen/hgen/inputs_for_generation/*

# Exclude __pycache__ and .pyc files
global-exclude __pycache__/
global-exclude *.py[cod]