$color-accent: #FFD592;

.primary-border {
  border: 1px solid var(--v-modifiedLight-base) !important;
}

.error-border {
  border-color: var(--v-removedLight-base) !important;
}

.transparent-bg {
  background-color: transparent !important;
}

.neutral-bg {
  background-color: var(--v-neutral-base) !important;
}

.primary-bg {
  background-color: var(--v-background-base) !important;
}

.primary {
  background-color:  var(--v-primary-base) !important;
  border-color: var(--v-primary-base) !important;
}

.secondary {
  background-color: var(--v-secondary-base) !important;
  border-color: var(--v-secondary-base) !important;
}
