$graph-border-radius: 8px;

.cy-context-menus-cxt-menu {
  display: none;
  z-index: 1000;
  position: absolute;
  padding: 0;
  margin: 0;
  width: fit-content;
  border-radius: $graph-border-radius;
  border: 1px solid $modifiedLight;
  background-color: $background;
  height: fit-content;

  > button:hover {
    color: black;
    background-color: $selected;
  }

  > .cy-context-menus-cxt-menuitem {
    display: block;
    background-color: $background;
    width: 100%;
    padding: 3px 20px;
    font-size: 12px;
    white-space: nowrap;
    text-align: left;
    color: $text;
    border-radius: $graph-border-radius;
  }

  .cy-context-menus-submenu-indicator {
    position: relative;
    left: 10px;
  }
}
