$graph-border-width: 1px;
$graph-border-radius: 8px;

.cy-container,
#cytoscape-div,
#cytoscape-artifact {
  height: 100% !important;
  max-height: 100vh !important;
}

.artifact-view {
  opacity: 0;

  &.visible {
    transition: opacity 0.2s ease-in-out;
    transition-delay: 0.2s;
    opacity: 100;
  }

  &.disabled {
    display: none;
  }
}

.artifact-svg-wrapper {
  &.artifact-svg-delta-ADDED,
  &.artifact-svg-delta-MODIFIED,
  &.artifact-svg-delta-REMOVED {
    & > foreignObject > * {
      color: black;
    }

    &:hover > foreignObject > * {
      color: $text;
    }
  }

  &:hover > .artifact-svg {
    fill: $neutral;
    filter: drop-shadow(0px 2px 2px rgb(0 0 0 / 0.3));
  }

  &.artifact-svg-delta-NO_CHANGE:hover > .artifact-border {
    fill: $primary;
  }

  &.artifact-svg-delta-NO_CHANGE:hover > .artifact-svg-div {
    stroke: $primary;
  }
}

.no-icon-rotate {
  cursor: pointer !important;
  transform: none !important;
}

.artifact-text.text-body-1 {
  display: block;
  text-align: center;
  font-weight: 800 !important;
  font-size: 1.2rem !important;
}
