$graph-border-width: 1px;
$graph-border-radius: 8px;

// Graph Window

#cytoscape-artifact {
  min-height: inherit !important;
}

.cy-container {
  overflow: hidden;
  position: relative;
}

.artifact-view {
  opacity: 0;

  &.visible {
    transition: opacity 0.2s ease-in-out;
    transition-delay: 0.2s;
    opacity: 100;
  }

  &.disabled {
    display: none;
  }
}

.artifact-fab {
  z-index: 7000;
}

// Graph Nodes

.cy-node-position {
  position: absolute;
  z-index: 1;
  webkit-transform-origin: top left;
  ms-transform-origin: top left;
  transform-origin: top left;
}

.cy-node-display {
  border-width: 3px !important;
  border-radius: 10px;
  overflow: hidden;
  background-color: $color-background;
  cursor: pointer;

  &:hover, &.cy-node-selected {
    background-color: $color-neutral;
    box-shadow: rgba(0, 0, 0, 0.24) 1px 3px 8px !important;
  }

  &:active {
    cursor: grabbing;
  }

  .cy-node-title {
    span {
      max-height: 49px;
      line-height: 24px !important;
    }
  }

  .cy-node-artifact-name {
    h1 {
      line-height: 27px !important;
    }
  }

  & > .cy-node-separator {
    height: 3px;
    border-radius: 1px;
  }

  &.cy-node-tim {
    text-align: center;
    width: 252px;
    height: 152px;
  }

  &.cy-node-artifact {
    width: 206px;
    height: 160px;
  }

  &.cy-node-sidebar {
    position: absolute;
    left: -70px;
    top: 50%;
    transform: translateY(-50%);
  }

  &.cy-node-footer {
    position: inherit;
    width: 206px;
    height: 40px;
    margin-top: 4px;

    & > .cy-node-delta-footer {
      position: absolute;
      top: 0;
      left: 28%;
    }
  }

  &.cy-node-menu {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .cy-node-delta-chip {
    position: absolute;
    bottom: 2px;
    left: 2px;
    width: 98%;
    height: 10px;
    border-radius: 5px;

    & > .cy-node-delta-child-chip {
      height: 10px;
      border-radius: 5px;
      width: 32.5%;
      margin-right: 2px;
    }
  }
}

// Context Menu

.cy-menu-position {
  z-index: 1000;
  position: absolute;
  left: 0;
  top: 0;
  right: auto;
  bottom: auto;
}
