$graph-border-width: 1px;
$graph-border-radius: 8px;

// Graph Window

#cytoscape-artifact {
  min-height: inherit !important;
}

.artifact-view {
  opacity: 0;

  &.visible {
    transition: opacity 0.2s ease-in-out;
    transition-delay: 0.2s;
    opacity: 100;
  }

  &.disabled {
    display: none;
  }
}

.artifact-fab {
  z-index: 7000;
}

// Graph Nodes

.artifact-svg-wrapper {
  // Node Border
  //.artifact-border { fill: $color-node-default; }
  &.artifact-svg-delta-ADDED > .artifact-border { fill: $color-added; }
  &.artifact-svg-delta-MODIFIED > .artifact-border { fill: $color-modified; }
  &.artifact-svg-delta-REMOVED > .artifact-border { fill: $color-removed; }
  .artifact-border.artifact-warning { fill: $color-flagged; }

  // Node Background
  .artifact-svg { fill: $color-background; }
  .artifact-svg.artifact-warning { fill: $color-flagged-bg; }

  // Node Divider
  &.artifact-svg-delta-ADDED > .artifact-svg-div { stroke: $color-added; }
  &.artifact-svg-delta-MODIFIED > .artifact-svg-div { stroke: $color-modified; }
  &.artifact-svg-delta-REMOVED > .artifact-svg-div { stroke: $color-removed; }

  // Node Highlight
  &:hover > .artifact-svg {
    fill: $color-neutral;
    filter: drop-shadow(0px 2px 2px rgb(0 0 0 / 0.3));
  }

    // Node Highlight Border
  &.artifact-svg-delta-NO_CHANGE:hover > .artifact-border {
    fill: $color-primary;
  }

    // Node Highlight Divider
  &.artifact-svg-delta-NO_CHANGE:hover > .artifact-svg-div {
    stroke: $color-primary;
  }
}

.artifact-text.text-body-1 {
  display: block;
  text-align: center;
  font-weight: 800 !important;
  font-size: 1.2rem !important;
}

.tim-svg-wrapper {
  margin-top: 7px;
}
