.nav-input {
  fieldset, div, label, i {
    color: $color-accent !important;
  }

  .q-field__control:before {
    border-color: $color-accent !important;
  }
}

body.body--dark .q-layout__shadow:after {
  box-shadow: 0 0 10px 2px rgb(255 255 255 / 6%), 0 0px 10px rgb(255 255 255 / 6%);
}

.nav-notifications {
  min-width: 300px;
  max-height: 40vh;
  overflow-y: scroll;
}
