// Public

.card-page {
  width: 450px;

  .login-button {
    width: 120px;
  }
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.icon-safa {
  animation: fadeIn 1s;

  &.clickable {
    height: 42pt;
  }

  & > * {
    fill: $color-primary;
  }
}

// Navigation - Searchbar

.nav-search-mode {
  min-width: 150px !important;

  & > .q-field__inner > .q-field__control {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;

    &:before {
      border-right: none;
    }

    &:hover:after {
      border-color: $color-primary !important;
    }
  }

  &.q-field--highlighted > .q-field__inner > .q-field__control:after {
    border-color: $color-primary !important;
  }
}

.nav-search-prompt {
  width: 600px;
  min-width: 130px !important;
  max-width: 40vw;

  & > .q-field__inner > .q-field__control {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;

    &:hover:after {
      border-color: $color-primary !important;
    }
  }

  &.q-field--highlighted > .q-field__inner > .q-field__control:after {
    border-color: $color-primary !important;
  }
}

// Navigation - Inputs

.nav-mode-selected {
  background-color: $color-background !important;
}

.nav-input {
  background-color: $color-background;

  & > .q-field__inner > .q-field__control:hover:after {
    border-color: $color-primary !important;
  }

  fieldset, div, label, i {
    color: $color-primary !important;
  }

  .q-field__control:before {
    border-color: $color-primary !important;
  }

  .q-field__native > span {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &.nav-search {
    min-width: 200px;
    width: 30vw;
  }

  &.nav-document {
    min-width: 200px;
    max-width: 300px;
  }

  &.nav-version {
    width: 100px;
    min-width: 100px;
  }
}

// Navigation - Topbar

.nav-topbar {
  border-left: 1px solid rgba(0, 0, 0, 0.12);
  min-height: 70px;
}

.nav-saving-icon {
  position: relative;
  right: 23px;
}

.nav-job-icon {
  position: relative;
  top: 37px;
}

.nav-mode-select {
  .q-btn--outline:before {
    border-radius: 4px;
  }
}

// Navigation - Sidebar

.nav-sidebar-header {
  height: 40px;

  &-open {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.nav-account {
  position: absolute;
  bottom: 0;
}

#logo-safa {
  .cls-2, .cls-3 {
    fill: none;
    stroke: $color-primary;
    stroke-miterlimit: 10;
  }

  .cls-2 {
    stroke-width: 4px;
  }

  .cls-3 {
    stroke-width: 10px;
  }

  circle {
    r: 6px;
  }
}

// Navigation - Notifications

.nav-notifications {
  min-width: 300px;
  max-height: 40vh;
  overflow-y: scroll;
}

.nav-alert {
  border-left-width: 4px !important;
}

// Navigation - Page

.nav-page-centered {
  max-width: 1100px;
}

.nav-page-loading {
  margin-top: 40vh;
}

// Fixes box shadow in dark mode.

body.body--dark .q-layout__shadow:after {
  box-shadow: 0 0 10px 2px rgb(255 255 255 / 6%), 0 0 10px rgb(255 255 255 / 6%);
}

// Navigation - Modal

.modal {
  &-sm {
    width: 400px;
  }
  &-md {
    width: 600px;
    max-width: unset !important;
  }
  &-lg {
    width: 800px;
    max-width: unset !important;
  }
  &-xl {
    width: 80vw;
    max-width: unset !important;
  }
}

.rounded {
  border-radius: 4px !important;
}
