*::-webkit-scrollbar {
  background: $neutral;
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: $neutral;        /* color of the tracking area */
}

*::-webkit-scrollbar-thumb {
  background-color: $primary;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 3px solid $neutral;  /* creates padding around scroll thumb */

  &:hover {
    background-color: $primary;
  }
}

* {
  scrollbar-color: $primary $neutral;   /* scroll thumb and track */
}
