.artifact-row-selected {
  background-color: var(--v-selected-base);
}

.model-table,
.project-table,
.version-table,
.job-table,
.artifact-table,
.trace-matrix-table,
.model-table,
.trace-link-table, {
  .v-data-table__expanded__content {
    box-shadow: inset 0 2px 8px -5px rgba(50, 50, 50, 0.75) !important;
  }

  th > * {
    margin-right: 4px;
  }

  tr {
    cursor: pointer;

    &.v-data-table__expanded__content {
      cursor: text;
    }
  }
}
