@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400&display=swap");

$heading-font-family: "Source Sans Pro";
$body-font-family: "Source Sans Pro";

.v-application {
  [class*="text-"] {
    color: var(--v-text-base);
    font-family: $body-font-family, sans-serif !important;
  }
  font-family: $body-font-family, sans-serif !important;
}

.text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
}

.inherit-color {
  color: inherit !important;
}

.v-tab {
  text-transform: none !important;
}
