// Width Utilities

.width {
  &-min {
    width: min-content;
  }
  &-max {
    width: max-content;
  }
  &-fit {
    width: fit-content;
  }
}

// Height Utilities

.scrollable {
  overflow-y: scroll;
}

// Flex Utilities

.align {
  &-start {
    align-items: flex-start !important;
  }
  &-center {
    align-items: center !important;
  }
  &-end {
    align-items: flex-end !important;
  }
}

.nowrap {
  flex-wrap: nowrap;
}

// Opacity Changes

.faded {
  opacity: 0.6;
}

.show-on-hover {
  opacity: 0;

  &:hover {
    opacity: 1;
  }
}
