name: Find Missing Docs

on:
  pull_request:
    branches:
    - development
    types: [opened, synchronize]
  issue_comment:
    types: [created]
    body: /build
jobs:
  build:
    name: TGEN API BUILD
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v2
      with:
        submodules: 'recursive'
        ref: ${{ github.ref }}
        token: ${{ secrets.TGEN_TOKEN }}

    - uses: actions/setup-python@v3
      with:
        python-version: '3.10'
        cache: 'pip'
        cache-dependency-path: 'tgen/requirements/devops-requirements.txt'

    - name: Upgrade Pip
      run: python -m pip install --upgrade pip

    - name: Install Requirements
      run: |
        pip3 install -r tgen/requirements/devops-requirements.txt

    - name: Run Dev-Ops Checks
      run: python3 tgen/tgen/scripts/tools/find_missing_docs.py src/api
      env:
        ROOT_PATH: /home/runner/work/tgen-api/tgen-api/tgen