.application {
  font-family: "Source Sans Pro";
}

.debug {
  border: 1px solid red !important;
}

.debug-thick {
  border: 3px solid red !important;
}

.debug-blue {
  border: 1px solid blue !important;
}

.debug-green {
  border: 3px solid green !important;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.75s;
}

.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

.generic-switch > .v-input__control > .v-input__slot {
  flex-direction: row-reverse;
}
