.artifact-container {
  display: flex;
  flex-direction: column;
  white-space: nowrap;
  overflow: hidden;
}

.artifact-header {
  text-align: center;
  border-bottom: 2px solid black;
}
.artifact-sub-header {
  text-align: center;
}

.artifact-body {
  padding: 5px;
  text-align: center;
  white-space: initial;
  flex-grow: 1;
}

.artifact-warning {
  background-color: #ffeb3b;
  border: 1px solid black;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (min-height: 200px) {
  #cy-container,
  #cytoscape-div {
    height: 400px !important;
    max-height: 400px !important;
    min-height: 200px !important;
  }
}

@media screen and (min-height: 800px) {
  #cy-container,
  #cytoscape-div {
    height: 600px !important;
    max-height: 800px !important;
    min-height: 400px !important;
  }
}
