$color-primary: #5975B8;
$color-error: #E11F26;

$color-warning: #F5B53F;
$color-added: #6CD8A9;
$color-removed: #E27171;
$color-modified: #8DA5D3;

$color-text-light: #FFD592;

.primary-border {
  border: 1px solid var(--v-modifiedLight-base) !important;
}

.error-border {
  border-color: var(--v-removedLight-base) !important;
}

.transparent-bg {
  background-color: transparent !important;
}

.neutral-bg {
  background-color: var(--v-neutral-base) !important;
}
