$color-border: #969696;
$color-selected: #EEEEEE;
$graph-border-radius: 8px;

.cy-context-menus-cxt-menu {
  display: none;
  z-index: 1000;
  position: absolute;
  padding: 0;
  margin: 0;
  width: fit-content;
  border-radius: $graph-border-radius;
  border: 1px solid $color-border;
  background-color: #f8f8f8;
  height: fit-content;

  > button:hover {
    color: black;
    background-color: $color-selected;
  }

  > .cy-context-menus-divider {
    border-bottom: 1px solid lighten($color-border, 30);
  }

  > .cy-context-menus-cxt-menuitem {
    display: block;
    background-color: #f8f8f8;
    width: 100%;
    padding: 3px 20px;
    font-size: 12px;
    white-space: nowrap;
    text-align: left;
    color: black;
    border-radius: $graph-border-radius;
  }

  .cy-context-menus-submenu-indicator {
    position: relative;
    left: 10px;
  }
}
