.artifact-container {
  display: flex;
  flex-direction: column;
  white-space: nowrap;
  overflow: hidden;
}

.artifact-header {
  text-align: center;
  border-bottom: 2px solid black;
}
.artifact-sub-header {
  text-align: center;
}

.artifact-body {
  padding: 0px 5px 5px 5px;
  text-align: center;
  white-space: initial;
  flex-grow: 1;
  line-height: 1;
}

.artifact-footer {
  height:25px;
  text-align: center;
  display: flex;
  align-items: center;
  width: 100%;

  & > * {
    border: 1px solid black;
    justify-content: center;
  }

  & > div > span {
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .warning-text {
    border: 1px solid black;
    overflow: hidden;
    background-color: #EEBC3D;
  }
}

.artifact-stoplight {
  height: 10px;

  & > * {
    border: 1px solid black;
  }

  .artifact-added {
    background: #81c784;
  }

  .artifact-removed {
    background: #e57373;
  }

  .artifact-modified {
    background: #64b5f6;
  }
}

@media screen and (min-height: 200px) {
  #cy-container,
  #cytoscape-div {
    height: 400px !important;
    max-height: 300px !important;
    min-height: 200px !important;
  }
}

@media screen and (min-height: 800px) {
  #cy-container,
  #cytoscape-div {
    height: 600px !important;
    max-height: 800px !important;
    min-height: 400px !important;
  }
}
