$color-warning: #EEBC3D;
$color-added: #81c784;
$color-removed: #e57373;
$color-modified: #64b5f6;
$color-selected: #EEEEEE;
$color-border: #888888;
$color-text: #888888;
$graph-border-width: 1px;
$graph-border-radius: 8px;

.artifact-view {
  opacity: 0;

  &.visible {
    transition: opacity 0.25s ease-in-out;
    opacity: 100;
  }
}

.artifact-container {
  display: flex;
  flex-direction: column;
  white-space: nowrap;
  overflow: hidden;
}

.artifact-border {
  border-radius: $graph-border-radius;
  border: $graph-border-width solid $color-border;
  box-shadow: 0 0 0;

  &:hover {
    box-shadow:
      rgba(0, 0, 0, 0.2) 0px 8px 9px -5px,
      rgba(0, 0, 0, 0.14) 0px 15px 22px 2px,
      rgba(0, 0, 0, 0.12) 0px 6px 28px 5px;
  }
}

.artifact-header {
  text-align: center;
  border-bottom: $graph-border-width solid $color-border;
  margin: 0 5px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.artifact-sub-header {
  text-align: center;
}

.artifact-body {
  padding: 0 5px 5px 5px;
  text-align: center;
  white-space: initial;
  flex-grow: 1;
  line-height: 1 !important;
}

.cy-container,
#cytoscape-div {
  height: 100% !important;
  max-height: 100vh !important;
}

.artifact-svg-wrapper {
  &:hover > .artifact-svg {
    fill: #FFFFFF;
    filter: drop-shadow(0px 4px 2px rgb(0 0 0 / 0.3));
  }

  &:hover > .artifact-border {
    fill: darken($color-border, 20)
  }

  &.artifact-svg-delta-ADDED:hover > .artifact-svg {
    fill: lighten($color-added, 10);
  }

  &.artifact-svg-delta-MODIFIED:hover > .artifact-svg {
    fill: lighten($color-modified, 10);
  }

  &.artifact-svg-delta-REMOVED:hover > .artifact-svg {
    fill: lighten($color-removed, 10);
  }
}

.cy-context-menus-cxt-menu {
  border-radius: $graph-border-radius;
  border-color: $color-border;
  overflow: hidden;

  > button:hover {
    color: black;
    background-color: $color-selected;
  }
}