.nav-input {
  fieldset, i {
    color: fade-out($color-text-light, 0.5) !important;
  }

  &:hover {
    fieldset, div, label, i {
      color: $color-text-light !important;
    }
  }
}

.nav-selected {
  color: $color-primary !important;
}

.nav-notifications {
  min-width: 300px;
  max-height: 40vh;
  overflow-y: scroll;

}
