.v-input.theme--dark {
  fieldset, div, label, i {
    color: $color-text-light !important;
  }
}

.nav-selected {
  color: $color-primary !important;
}

.nav-notifications {
  min-width: 300px;
  max-height: 40vh;
  overflow-y: scroll;

}