$color-selected: #EEEEEE;

.artifact-view,
.trace-link-table {
  .artifact-row-selected {
    background-color: $color-selected;
  }

  .v-data-table__expanded__content {
    box-shadow: inset 0 2px 8px -5px rgba(50, 50, 50, 0.75) !important;
  }

  tr {
    cursor: pointer;

    &.v-data-table__expanded__content {
      cursor: text;
    }
  }
}
