@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400&display=swap");

$heading-font-family: "Source Sans Pro";
$body-font-family: "Source Sans Pro";

.v-application {
  [class*="text-"] {
    color: #36405a;
    font-family: $body-font-family, sans-serif !important;
  }
  font-family: $body-font-family, sans-serif !important;
}