.data-table {
  max-height: 100vh;
}

$sizes: 100, 200, 300;

@each $size in $sizes {
  .data-table-cell-#{ $size } {
    min-width: $size * 1px;
    max-width: $size * 1px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
